---
import Preview from "./Preview.astro";
---

<div class="gap-3 flex flex-col max-w-[20rem]">
  <h2>Curated Flora</h2>

  <Preview
    href="/garden/nodemailer/"
    title="Serverless Nodemailer"
    description="Serverless function to send emails via SMTP on static sites, zero js needed."
    date="Jan, 2024"
  />
  <Preview
    href="https://github.com/OliverSpeir/remark-imgattr"
    target="_blank"
    title="remark-imgAttr"
    description="My first NPM package"
    date="Jan, 2024"
  />
  <Preview
    href="/garden/a11y/"
    title="A11y thoughts"
    date="Dec, 2023"
    description="Notes and tools I've found while exploring Web Accessibility"
  />
</div>
