---
import NavLinks from "../../components/NavLinks.astro";
import BlogCard from "../../components/BlogCard.astro";
import SocialLogos from "../../components/SocialLogos.astro";
import Blog1Pic from '../../imgs/DRF-NextAuth-Logo-large.png';
import Blog2Pic from '../../imgs/fastapi-supabase-logo-large.png'
import Layout from "../../layouts/Portfolio.astro"
---
<Layout title ="Blog">
  <main>
    <NavLinks />
    <div class="cards">
      <BlogCard
        title="NextAuth with DRF"
        picture={Blog1Pic}
        src="/blog/nextauth-with-drf"
        body="This blog describes using NextAuth to provide Social Sign On for a Django REST Framework Backend"
      />
      <BlogCard
        title="FastAPI with Supabase-py"
        picture={Blog2Pic}
        src="/blog/fastapi-with-supabase"
        body="This blog explains how to create a FastAPI backend that uses Supabase Auth and allows for RLS"
      />
    </div>
    <SocialLogos class="projects" />
  </main></Layout>
<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
  }
  @media (min-width: 875px) {
    .cards {
      margin-top:5rem;
    }
  }
  footer {
    margin-top: 5rem;
  }
</style>
