---
import NavLinks from "../../components/NavLinks.astro";
import BlogCard from "../../components/BlogCard.astro";
import SocialLogos from "../../components/SocialLogos.astro";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Check out my blog posts!" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/profile_picture.png" />
    <meta property="og:image" content="/profile_picture_large.png" />
    <meta name="twitter:card" content="/profile_picture_large.png" />
    <title>Blog - Oliver Speir</title>
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-YXRK3RSZN8"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-YXRK3RSZN8");
    </script>
  </head>
  <body>
    <NavLinks />
    <h1>Welcome to my Blog!</h1>
    <div class="cards">
      <BlogCard
        title="NextAuth with DRF"
        picture="/DRF-NextAuth-Logo.png"
        src="/blog/NextAuth-with-DRF"
        body="This blog describes using NextAuth to provide Social Sign On for a Django REST Framework Backend"
      />
    </div>
  </body>
  <SocialLogos class="bottom"/>
  </html>
  <style>
    @media (prefers-color-scheme: dark) {
      :root {
        --hover-accent: rgb(13, 28, 240);
        --hover-accent-gradient: linear-gradient(
          45deg,
          var(--hover-accent),
          #5b3fda99 30%,
          white 60%
        );
      }
      :root {
        --text-color: #d6d6d6;
        --accent-color: rgb(98, 94, 94);
        --bg-color: #222;
        --card-color: rgb(77, 75, 75);
        --card-shadow: rgba(255, 255, 255, 0.39);
      }
    }
    @media (prefers-color-scheme: light) {
      :root {
        --text-color: black;
        --accent-color: #292c88;
        --bg-color: #f6f6f6;
        --card-color: rgb(165, 215, 246);
        --card-shadow: rgba(45, 59, 170, 0.415);
      }
    }
    html {
      font-family: system-ui, sans-serif;
      background-color: var(--bg-color);
      color: var(--text-color);
    }
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h1 {
      margin-top: 2rem;
    }
    .cards {
        margin-top: 5rem;
    }
  </style>
