<div class="skip-links">
	<a
		href="#main-content"
		class="sr-only focus-visible:not-sr-only focus-visible:absolute focus-visible:z-50 focus-visible:bg-light-bg dark:focus-visible:bg-dark-bg"
	>
		Skip to main content</a
	>
</div>
