---
import Layout from "../layouts/Portfolio.astro";
import NavLinks from "../components/NavLinks.astro";
import SocialLogos from "../components/SocialLogos.astro";
import profilePic from '../imgs/profile_picture_new.png';
import profilePicTall from '../imgs/bio-pic.jpg';
import { Picture } from 'astro:assets';
---

<Layout title="About Me - Oliver Speir">
  <NavLinks />
  <main>
    <div class="container">
      <div class="body-text">
        <Picture src={profilePic} class={"circle"} alt="Picture of Oliver Speir" formats={["avif","webp"]}/>
        <p>
          Hi, I'm Oliver! Tech and learning new things are some of my lifelong
          passions. All the way back in the early days of the internet, I was
          selected to participate in a Microsoft study focused on young internet
          users. This experience sparked my enthusiasm for all things tech and
          opened my eyes to the exciting world of code and software
          development. <br />
          <br />
          Fast-forward to today, I have recently completed my Associates of Applied
          Science in Information Systems and Code Fellows Software Development
          bootcamp, where I learned the fundamentals of how to write code.
          <br />
          <br />
          I believe that software developers have the ability to make the world a
          better place by creating code that is intuitive, inclusive and accessible.
          <br />
          <br />
          Please feel free to connect with me on LinkedIn - I would love the opportunity
          to discuss how I can contribute to your company’s success.
        </p>
      </div>
      <Picture src={profilePicTall} class={"tall"} alt="Picture of Oliver Speir" formats={["avif","webp"]}/>
    </div>
    <SocialLogos class="projects" />
  </main>
</Layout>

<style>
  @media (max-width: 874px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
    .body-text {
      max-width: 55ch;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1.6;
      border: 1px solid var(--hover-accent) 25%;
      background-color: var(--card-color);
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .tall {
      display: none;
    }
    .circle {
      margin-bottom: 1rem;
      border-radius: 8rem;
      height: auto;
      width: 10rem;
    }
    main {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 2vh;
      margin-right: 5vw;
      margin-left: 5vw;
      margin-bottom: 4vh;
    }
  }
  @media (min-width: 875px) {
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5rem;
      justify-content: center;
      max-width:75%;
    }
    .circle {
      display: none;
    }
    .body-text {
      max-width: 45ch;
      line-height: 1.4;
      border: 1px solid var(--hover-accent) 25%;
      background-color: var(--card-color);
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 0.4rem;
      font-size: large;
      min-width: 45ch;
    }
    .tall {
      border-radius: 0.4rem;
      margin-left: 1rem;
      height: 560px;
      width: auto;
      max-width: 45ch;
      margin-top: 0;
      /* margin-top: -35vh; */
    }
    main {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      margin-top: 6vh;
      /* margin-right: 2vw; */
      /* margin-left: 2vw; */
      /* max-width: 75%; */
    }
  }
</style>
