---
import Layout from '../layouts/Layout.astro';
import PictureCard from '../components/PictureCard.astro';
import Header from '../components/Header.astro';
---

<Layout title="About Me - Oliver Speir">
    <Header/>
    <main>
        <h1>coming soon</h1>
    </main>
</Layout>