---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout title="Oliver Speir">
	<Header/>
	<main>
		<div class="text-container">
		<h1>Oliver Speir</h1>
		<h2>Software Engineer</h2>
			<p class="body-text">
				I am a driven engineer who loves to solve problems.
				<br> I am looking for a position that will allow me to develop my skills and create powerful technology.
			</p>
		</div>
		<div class="cards">
			<ul role="list" class="card-grid">
			<LinkCard
				href="/projects"
				title="Projects"
				target="_self"
				body="Click here to see the projects I have worked on."
			/>
			<LinkCard
				href="https://storage.googleapis.com/oliver-speir-cv-resume/Oliver%20Speir%20CV.pdf"
				title="CV/Resume"
				target="_blank"
				body="Click here to open my CV/Resume in a new tab."
			/>
			<LinkCard
			href="/skills"
			title="Skills"
			target="_self"
			body="Click here to see my skills."
			/>
			<LinkCard
			href="/about"
			title="About Me"
			target="_self"
			body="Click here to learn more about me."
			/>
			</ul>
		</div>
	</main>
	<Footer/>
</Layout>

<style>
	main {
		display:flex;
		/* margin: auto; */
		padding-top: 15vh;
		/* padding: 1.5rem; */
		/* max-width: 60ch; */
	}
	h1 {
		text-align: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		text-align: center;
		font-size: 2rem;
		font-weight: 700;
		color: grey;
		margin: 0;
	}
	.text-container {
		max-width: 60ch;
		padding-right:15vw ;
		padding-left:5vw;
	}
	.cards {
		/* padding-left: 10px; */
	}
	.body-text {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
