---
import Layout from "../layouts/Portfolio.astro";
import LinkCard from "../components/LinkCard.astro";
import SocialLogos from "../components/SocialLogos.astro";
---

<Layout title="Oliver Speir">
  <main>
    <div class="text-container">
      <div class="headers">
        <img src="/profile_picture.png" />
        <div class="headers-text">
          <h1>Oliver Speir</h1>
          <h2>Software Engineer</h2>
        </div>
      </div>
      <p class="body-text">
        From my passion for learning new technology to my ability to communicate
        complex concepts effectively, I would be a valuable asset to any
        organization and welcome the opportunity to contribute to the success of
        your team.
      </p>
    </div>
    <div class="cards">
      <ul role="list" class="card-grid">
        <div class=top"></div>
        <LinkCard href="/CV.pdf" title="CV" target="_blank" customclass="top"/>
        <LinkCard href="/projects" title="Projects" target="_self" customclass="" />
        <LinkCard href="/skills" title="Skills" target="_self" customclass=""/>
        <LinkCard href="/blog" title="Blog" target="_self" customclass=""/>
        <LinkCard href="/about" title="About Me" target="_self" customclass=""/>
      </ul>
      <SocialLogos class="home-middle" />
    </div>
  </main>
  <SocialLogos class="home-bottom" />
</Layout>

<style>
  .headers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .headers-text {
    text-align: center;
  }

  img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-right: 2rem;
  }
  .body-text {
    margin-top: 3vh;
    line-height: 1.6;
    border: 1px solid var(--hover-accent) 25%;
    background-color: var(--card-color);
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .cards {
    max-width: 60ch;
  }
  @media (max-width: 874px) {
    h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      margin: 0;
    }
    h2 {
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      color: var(--accent-color);
      margin: 0;
    }
    main {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-right: 2vw;
      margin-left: 2vw;
    }
    .text-container {
      max-width: 60ch;
    }
    .card-grid {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, minmax(5ch, 1fr));
      grid-template-rows: repeat(2, minmax(5ch, 1fr));
      column-gap: 0.5rem;
      row-gap: 0.5rem;
      padding: 0;
    }
  }
  @media (min-width: 875px) {
    h1 {
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      color: var(--accent-color);
      margin: 0;
    }
    main {
      display: flex;
      padding-top: 15vh;
      justify-content: center;
    }
    .text-container {
      max-width: 60ch;
      margin-right: 2rem;
      margin-left: 1rem;
    }
    .card-grid {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(15ch, auto));
      column-gap: 0.5rem;
      row-gap: 0.5rem;
      padding: 0;
    }
    .top {
      grid-row: span 1;
    }
  }
</style>
