---
import Layout from "@layouts/PageLayout.astro";
import PicAndLinks from "@components/PicAndLinks.astro";
import Flora from "@components/Flora.astro";
import TimeScript from "@components/TimeScript.astro";
import ThemeButton from "@components/ThemeButton.astro";

const title = "Oliver Speir";
const description = "Personal website";
---

<Layout {title} {description}>
	<div class="absolute sm:-mt-10">
		<ThemeButton />
	</div>
	<div class="flex justify-center sm:mt-10">
		<div class="flex flex-col gap-x-12 sm:flex-row md:gap-x-[6rem]">
			<nav>
				<PicAndLinks />
			</nav>
			<section class="max-w-[20rem]">
				<h1 id="main-content">Hey, I'm Oliver</h1>
				<p class="mb-0">I value open source and decentralization.</p>
				<p class="mt-0">I want the internet to be accessible.</p>
				<p class="my-0">I'm in Mountain Time Zone,</p>
				<p class="mt-0">it is currently <span id="time">00:00</span> for me.</p>
				<TimeScript />
				<Flora />
			</section>
		</div>
	</div>
</Layout>
