---
import Layout from "../layouts/Portfolio.astro";
import ProjectCard from "../components/ProjectCard.astro";
import NavLinks from "../components/NavLinks.astro";
import SocialLogos from "../components/SocialLogos.astro";
---

<Layout title="Projects - Oliver Speir">
  <script>
    const playVideos = () => {
      const videoElements = document.querySelectorAll("video");
      videoElements.forEach((videoElement) => {
        videoElement.play();
      });
    };
    playVideos()
    document.addEventListener('astro:after-swap', playVideos);
  </script>
  <NavLinks />
  <main>
    <div class="grid-container">
    <ul role="list" class="card-grid">
      <ProjectCard
        title="Clean Air Compass"
        body="Web app that creates an interpolated map overlay based on PurpleAir sensors."
        bullets={[
          "FastAPI to create interpolation layer with KNN regression.",
          "Django REST Framework to handle the user database.",
          "NextJS frontend, using NextAuth and TailwindCSS.",
        ]}
        src="CleanAirCompass.mp4"
        icons={[
          "python",
          "djangorestframework",
          "nextjs",
          "fastapi",
          "nextauth",
          "pandas",
        ]}
        links={{
          link1: "https://github.com/orgs/Oxygen-Oriented-Programming/repositories",
          link1Name: "GitHub",
          link2: "https://clean-air-compass.vercel.app/",
          link2Name: "Live Site",
        }}
      />
      <ProjectCard
        title="ThoroughZED"
        body="Data Science project that predicts and creates interactive dashboard."
        bullets={[
          "Gathered and cleaned  a large data set from a public GraphQL API.",
          "Trained Random Forest model on that data using SciKit Learn.",
          "HoloViz Panel and HVPlot interactive dashboard.",
        ]}
        src="/ThoroughZed.mp4"
        icons={[
          "python",
          "pandas",
          "scikitlearn",
          "holoviz",
        ]}
        links={{
          link1: "https://github.com/ThoroughZed-Analytics/Thoroughzed",
          link1Name: "GitHub",
          link2: "/ThoroughZed.mp4",
          link2Name: "Video",
        }}
      />
      <ProjectCard
        title="OpenIMG"
        body="Web app that allows users to interface with the OpenAI DALLE2 API by creating images with prompts."
        bullets={[
          "MongoDB database and ExpressJS backend using Mongoose ORM.",
          "Auth0 For Authentication providing Social Sign On.",
          "React Bootstrap and CSS used for styling.",
        ]}
        src="/OpenImg.mp4"
        icons={["reactjs", "mongodb", "nodejs", "expressjs"]}
        links={{
          link1: "https://github.com/orgs/Full-Stack-Fluency/repositories",
          link1Name: "GitHub",
          link2: "https://openimg.netlify.app/",
          link2Name: "Live Site",
        }}
      />
    </ul>
  </div>
  </main>
  <SocialLogos class="projects" />
</Layout>

<style>
  main {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .grid-container {
      display: flex;
      justify-content: center;
      width:100%;
    }
  .card-grid {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 30rem;
  }
  @media (min-width: 875px) {
    main {
      margin-top: 3rem;
    }
    .card-grid {
      max-width: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      gap: 2rem;
      padding: 0;
      margin-left: 15rem;
      margin-right: 15rem;
      margin-top: 0;
    }
  }
</style>
