---
import Layout from '../layouts/Layout.astro';
import PictureCard from '../components/PictureCard.astro';
import Header from '../components/Header.astro';
---

<Layout title="Projects - Oliver Speir">
<Header/>
<main>
    <div class="textbox">
        <h1>Projects</h1>
    </div>
    <div class="cards">
        <ul role="list" class="card-grid">
            <PictureCard
                href="https://clean-air-compass-mzvbj.ondigitalocean.app/"
                title="Clean Air Compass"
                body="This project we made."
                src="https://storage.googleapis.com/oliver-speir/CleanAirCompassDemo.gif"
                icons={['python','djangorestframework', 'nextjs', 'fastapi', 'docker', 'nextauth', 'pandas', 'scikitlearn',]}
            />
            <PictureCard
            href="https://github.com/ThoroughZed-Analytics/Thoroughzed"
            title="ThoroughZED"
            body="this project we made"
            src="https://storage.googleapis.com/oliver-speir/ThoroughZedDemo.gif"
            icons={['python', 'fastapi', 'docker', 'pandas', 'scikitlearn', 'holoviz']}
            />
            <PictureCard
            href="https://openimg.netlify.app/"
            title="OpenIMG"
            body="this project we made "
            src="https://storage.googleapis.com/oliver-speir/OpenImgDemo.gif"
            icons={['reactjs', 'mongodb', 'nodejs', 'expressjs']}
            />
        </ul>
    </div>
</main>
</Layout>

<style>
	main {
		/* display:flex; */
		padding-top: 5vh;
	}
	h1 {
		text-align: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.textbox {
		max-width: 60ch;
		padding-right:15vw ;
		padding-left:5vw;
	}
    @media (min-width:1200px){
	.card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
}

@media (max-width:1100px) {
    .card-grid {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;
        }
    .cards {
        display:flex;
        justify-content: center;
        }
}
</style>