---
import Layout from "../layouts/Layout.astro";
import PictureCard from "../components/PictureCard.astro";
import NavLinks from "../components/NavLinks.astro";
import SocialLogos from "../components/SocialLogos.astro";
---

<Layout title="Projects - Oliver Speir">
  <NavLinks />
  <main>
    <ul role="list" class="card-grid">
      <PictureCard
        href="https://clean-air-compass-mzvbj.ondigitalocean.app/"
        title="Clean Air Compass"
        body={[
          "FastAPI to create an interpolation layer with SciKit Learn based on information from a REST API.",
          "Django REST Framework to handle the user database and server secure CRUD endpoints.",
          "NextJS frontend, using NextAuth for the social sign on and TailwindCSS for the styling.",
        ]}
        src="https://storage.googleapis.com/oliver-speir/CleanAirCompassDemo.gif"
        icons={[
          "python",
          "djangorestframework",
          "nextjs",
          "fastapi",
          "docker",
          "nextauth",
          "pandas",
          "scikitlearn",
        ]}
      />
      <PictureCard
        href="https://github.com/ThoroughZed-Analytics/Thoroughzed"
        title="ThoroughZED"
        body={[
          "Gathered large data set from a public GraphQL API.",
          "Trained Random Forest model to predict based on that data using SciKit Learn.",
          "Created an interactive HoloViz Panel to visualize all data and display predictions.",
        ]}
        src="https://storage.googleapis.com/oliver-speir/ThoroughZedDemo.gif"
        icons={[
          "python",
          "fastapi",
          "docker",
          "pandas",
          "scikitlearn",
          "holoviz",
        ]}
      />
      <PictureCard
        href="https://openimg.netlify.app/"
        title="OpenIMG"
        body={[
          "This app uses the DALLE2 API from OpenAI to create images based on a text prompt.",
          "The App uses Auth0 to provide social sign on which allows users to preform CRUD actions on their prompts.",
          "The prompts are saved to a MongoDB database which is managed by an ExpressJS backend using Mongoose.",
        ]}
        src="https://storage.googleapis.com/oliver-speir/OpenImgDemo.gif"
        icons={["reactjs", "mongodb", "nodejs", "expressjs"]}
      />
    </ul>
  </main>
  <SocialLogos class="projects" />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .card-grid {
    padding: 5vw;
  }
  .card-grid li {
    margin-bottom: 100px;
  }
  @media (min-width: 875px) {
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  }
</style>
