---
import Layout from "../layouts/Layout.astro";
import PictureCard from "../components/PictureCard.astro";
import NavLinks from "../components/NavLinks.astro";
import SocialLogos from "../components/SocialLogos.astro";
---

<Layout title="Projects - Oliver Speir">
  <NavLinks />
  <main>
    <ul role="list" class="card-grid">
      <PictureCard
        title="Clean Air Compass"
        body="This project is for a web app that creates a mapping interface for PurpleAir Sensor Network using interpolated values. This app allows user to login using social sign on, save their default location, and sign up for SMS Alerts based on AQI values in any given area."
        bullets={[
          "FastAPI to create an interpolation layer with SciKit Learn based on information from a REST API.",
          "Django REST Framework to handle the user database and server secure CRUD endpoints.",
          "NextJS frontend, using NextAuth for the social sign on and TailwindCSS for the styling.",
        ]}
        src="/CleanAirCompassDemo.gif"
        icons={[
          "python",
          "djangorestframework",
          "nextjs",
          "fastapi",
          "docker",
          "nextauth",
          "pandas",
          "scikitlearn",
        ]}
        links={{
          link1: "https://github.com/orgs/Oxygen-Oriented-Programming/repositories",
          link1Name: "GitHub",
          link2: "https://clean-air-compass-mzvbj.ondigitalocean.app/",
          link2Name: "Live Site",
        }}
      />
      <PictureCard
        title="ThoroughZED"
        body="Machine learning based valuation for NFTs and an interactive dashboard to display relevant data. This was built with Python and designed to be used as a CLI tool."
        bullets={[
          "Gathered large data set from a public GraphQL API.",
          "Trained Random Forest model to predict based on that data using SciKit Learn.",
          "Created an interactive HoloViz Panel to visualize all data and display predictions.",
        ]}
        src="/ThoroughZedDemo.gif"
        icons={[
          "python",
          "fastapi",
          "docker",
          "pandas",
          "scikitlearn",
          "holoviz",
        ]}
        links={{
          link1: "https://github.com/ThoroughZed-Analytics/Thoroughzed",
          link1Name: "GitHub",
          link2: "/ThoroughZedDemo.gif",
          link2Name: "Video",
        }}
      />
      <PictureCard
        title="OpenIMG"
        body="A web app that allows users to interface with the OpenAI DALLE2 API by creating images with prompts. Users can perform all CRUD actions with their prompts. Social Sign on using Auth0."
        bullets={[
          "This app uses the DALLE2 API from OpenAI to create images based on a text prompt.",
          "The App uses Auth0 to provide social sign on which allows users to preform CRUD actions on their prompts.",
          "The prompts are saved to a MongoDB database which is managed by an ExpressJS backend using Mongoose.",
        ]}
        src="/OpenImgDemo.gif"
        icons={["reactjs", "mongodb", "nodejs", "expressjs"]}
        links={{
          link1: "https://github.com/orgs/Full-Stack-Fluency/repositories",
          link1Name: "GitHub",
          link2: "https://openimg.netlify.app/",
          link2Name: "Live Site",
        }}
      />
    </ul>
  </main>
  <SocialLogos class="projects" />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .card-grid {
    padding: 5vw;
  }
  @media (min-width: 875px) {
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  }
</style>
