---
import Layout from "../layouts/Portfolio.astro";
import SkillCard from "../components/SkillCard.astro";
import NavLinks from "../components/NavLinks.astro";
import SocialLogos from "../components/SocialLogos.astro";
---

<Layout title="Skills - Oliver Speir">
  <NavLinks />
  <main>
    <ul role="list" class="card-grid">
      <SkillCard
        title="Languages"
        skills={[
          { name: "Python", img: "/python-logo-small.svg" },
          { name: "JavaScript", img: "/js-logo-small.svg" },
          { name: "TypeScript", img: "/ts-logo-small.svg" },
          { name: "SQL", img: "/sql-logo-small.svg" },
          { name: "HTML", img: "/html-logo-small.svg" },
          { name: "CSS", img: "/css-logo-small.svg" },
        ]}
      />
      <SkillCard
        title="Frontend Dev"
        skills={[
          { name: "React", img: "/react-logo-small.svg" },
          { name: "Next.js", img: "/nextjs-logo-small.svg" },
          { name: "Astro", img: "/astro-logo-small.svg" },
          { name: "Django", img: "/django-logo-small.svg" },
          { name: "TailwindCSS", img: "/tailwind-logo-small.svg" },
          { name: "BootstrapCSS", img: "/bootstrap-logo-small.svg" },
        ]}
      />
      <SkillCard
        title="Backend Dev"
        skills={[
          { name: "Django APIs", img: "/django-logo-small.svg" },
          { name: "Express.js", img: "/express-logo-small.svg" },
          { name: "FastAPI", img: "/fastapi-logo-small.svg" },
          { name: "MongoDB", img: "/mongodb-logo-small.svg" },
          { name: "PostgreSQL", img: "/postgres-logo-small.svg" },
          { name: "REST APIs", img: "/restapi-logo-small.svg" },
          { name: "GraphQL", img: "/graphql-logo-small.svg" },
        ]}
      />
      <SkillCard
        title="Data Science"
        skills={[
          { name: "Pandas", img: "/pandas-logo-small.svg" },
          { name: "Regression Analysis", img: "/regression-logo-small.svg" },
          { name: "Jupyter Notebooks", img: "/jupyternotebook-logo-small.svg" },
          { name: "Scikit-Learn", img: "/scikitlearn-logo-small.svg" },
          { name: "Matplotlib", img: "/matplotlib-logo-small.svg" },
          { name: "NumPy", img: "/numpy-logo-small.svg" },
          { name: "Holoviz", img: "/holoviz-logo-small.svg" },
        ]}
      />
    </ul>
  </main>
  <SocialLogos class="projects" />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-grid {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }
  @media (min-width: 875px) {
    main {
      margin-right: 2rem;
      margin-left: 2rem;
      margin-top: 2.5rem;
      margin-bottom: 5rem;
    }
    .card-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(20rem, 1fr));
      grid-template-rows: repeat(2, minmax(20rem, 1fr));
      row-gap: 2rem;
      column-gap: 3.5rem;
      padding: 0;
    }
  }
</style>
