---
import Layout from '../layouts/Layout.astro';
import NavLinks from '../components/NavLinks.astro';
---

<Layout title="Skills - Oliver Speir">
    <NavLinks/>
    <main>
        <h1>coming soon</h1>
    </main>
</Layout>