---
import Layout from "../layouts/Layout.astro";
import SkillCard from "../components/SkillCard.astro";
import NavLinks from "../components/NavLinks.astro";
import SocialLogos from "../components/SocialLogos.astro";
---

<Layout title="Skills - Oliver Speir">
  <NavLinks />
  <main>
    <ul role="list" class="card-grid">
      <SkillCard
        title="Languages"
        skills={["Python", "JavaScript", "TypeScript", "SQL", "HTML", "CSS"]}
      />
      <SkillCard
        title="Front End Development"
        skills={[
          "React",
          "Next.js",
          "Astro",
          "Django Template Language",
          "Tailwind CSS",
          "Bootstrap CSS",
        ]}
      />
      <SkillCard
        title="Back End Development"
        skills={[
          "Django REST Framework",
          "Express.js",
          "FastAPI",
          "MongoDB",
          "PostgreSQL",
          "REST APIs",
        ]}
      />
      <SkillCard
        title="Data Science"
        skills={[
          "OpenAI API",
          "Scikit-Learn",
          "Pandas",
          "Numpy",
          "Jupyter Notebooks",
          "Holoviz",
        ]}
      />
    </ul>
  </main>
  <SocialLogos class="projects" />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .card-grid {
    padding-left:0;
  }
  @media (min-width: 875px) {
    main {
      margin-right: 2vw;
      margin-left: 2vw;
      margin-top: 15vh;
      margin-bottom: 5vh;
    }
    .card-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(10ch, 1fr));
      grid-template-rows: repeat(2, minmax(10ch, 1fr));
      row-gap: 0.5rem;
      column-gap: 1rem;
      padding: 0;
    }
  }
</style>
