---
import Preview from "./Preview.astro";
---

<div class="flex max-w-[20rem] flex-col gap-3">
	<h2>Curated Flora</h2>

	<Preview title="Serverless Nodemailer" entry="nodemailer" />
	<Preview
		href="https://github.com/OliverSpeir/remark-imgattr"
		target="_blank"
		title="remark-imgAttr"
		description="My first NPM package"
		date="Jan, 2024"
		external={true}
	/>
	<Preview title="A11y thoughts" entry="a11y" />
</div>
