---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<nav class="contact">
  <a href="https://www.linkedin.com/in/oliverspeir/" target="_blank"><img src="/LinkedIn_Logo.svg"/></a>
  <a href="https://github.com/OliverSpeir" target="_blank"><img src="/GitHub_Logo.svg"/></a>
  <a href="mailto:oliverspeir9@gmail.com" target="_blank"><img src="/mail_icon.svg"/> OLIVERSPEIR9@GMAIL.COM </a>
</nav>
<nav class="links">
  <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
  <a class={currentPath === "projects" ? "active" : ""} href="/projects">Projects</a>
  <a class={currentPath === "skills" ? "active" : ""} href="/skills">Skills</a>
  <a class={currentPath === "about" ? "active" : ""} href="/about">About Me</a>
</nav>

<style>
    a.active{
        color:red;
    }
    nav.contact {
      position: absolute;
    }
    nav.links {
      text-align: right;
    }
    nav.contact img {
      width: auto;
      height: 2vh;
    }
    /* @media (max-width:900px){
        .contact {
            display: none;
        }
    } */
</style>