
<nav class="links">
  <a class={Astro.url.pathname === "/" ? "active" : "link"} href="/">Home</a>
  <a class={Astro.url.pathname === "/projects/" ? "active" : "link"} href="/projects">Projects</a>
  <a class={Astro.url.pathname === "/skills/" ? "active" : "link"} href="/skills">Skills</a>
  <a class={Astro.url.pathname === "/about/" ? "active" : "link"} href="/about">About</a>
</nav>

<style>
    a {
      text-decoration: none;
    }
    a.active{
        font-size:x-large;
        color:rgb(54, 64, 70);
    }
    a.link{
        font-size:x-large;
        color:rgb(89, 115, 247);
    }
    a.link:is(:hover){
      color:rgb(6, 0, 181);
    }
    nav.links {
      display:flex;
      justify-content: center;
      gap: .9vw;
    }
</style>