<nav class="links">
  <a class={Astro.url.pathname === "/" ? "active" : "link"} href="/" rel="prefetch">Home</a>
  <a
    class={Astro.url.pathname === "/projects/" ? "active" : "link"}
    href="/projects" rel="prefetch"
  >
    Projects
  </a>
  <a
    class={Astro.url.pathname === "/skills/" ? "active" : "link"}
    href="/skills" rel="prefetch"
  >
    Skills
  </a>
  <a class={Astro.url.pathname === "/blog/" ? "active" : "link"} href="/blog" rel="prefetch">
    Blog
  </a>
  <a class={Astro.url.pathname === "/about/" ? "active" : "link"} href="/about" rel="prefetch">
    About
  </a>
</nav>

<style>
  a {
    text-decoration: none;
  }
  a.active {
    font-size: x-large;
    color: rgb(2,2,2);
  }
  @media (prefers-color-scheme: dark){
    a.active {
      color: rgb(255, 255, 255);
    }
  }
  a.link {
    font-size: x-large;
    color: rgb(89, 115, 247);
  }
  a.link:is(:hover) {
    color: rgb(6, 0, 181);
  }
  nav.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  @media (max-width: 874px) {
    nav.links {
      gap: 0.5rem;
    }
  }
</style>
