---
export interface Props {
  title: string;
  skills: string[];
}

const { title, skills } = Astro.props;
---

<li class="skill-card">
  <a>
  <h2>
    {title}
  </h2>
  <div class="container">
    <ul class ="skill-list">
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div></a>
</li>

<style>
  .skill-card {
    /* width: 100%; */
    list-style: none;
    display: flex;
    padding: 0.25rem;
    /* margin-bottom: 1rem; */
    background-color: var(--accent-color);
    background-image: none;
    background-size: 400%;
    border-radius: 0.6rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(253, 253, 253, 0.1),
      0 2px 4px -2px rgba(146, 146, 146, 0.1);
  }

  .skill-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 0.5rem 0.8rem;
    border-radius: 0.35rem;
    color: var(--text-color);
    background-color: var(--card-color);
    opacity: 0.8;
  }
  h2 {
    text-align: center;
    margin: 0;
    margin-left:1rem;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }
  .skill-list {
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 874px) {
    .skill-card{
      margin-bottom: .5rem;
    }
  }
</style>
