<div class="skip-links bg-light-bg focus-visible:bg-dark-bg">
	<a
		href="#main-content"
		class="absolute sr-only focus-visible:not-sr-only focus-visible:absolute focus-visible:z-50"
	>
		Skip to main content</a
	>
</div>
