---
const { frontmatter } = Astro.props;
import NavLinks from "../components/NavLinks.astro";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={frontmatter.description} />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/profile_picture.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:image" content={frontmatter.cardPicture} />
    <meta name="twitter:card" content={frontmatter.cardPicture} />
    <title>{frontmatter.title}</title>
    <script>
      type CodeBlockElement = HTMLPreElement & { parentNode: HTMLElement };
      const copyButtonLabel = "Copy Code";

      const createCopyButton = () => {
        const copyButton = document.createElement("button");
        copyButton.className = "copy-code";
        copyButton.innerText = copyButtonLabel;
        return copyButton;
      };

      const codeBlocks = Array.from(
        document.querySelectorAll("pre")
      ) as CodeBlockElement[];

      for (const codeBlock of codeBlocks) {
        const wrapper = document.createElement("div");
        wrapper.style.position = "relative";

        const copyButton = createCopyButton();
        copyButton.addEventListener("click", async () => {
          const code = codeBlock.querySelector("code");
          if (code) {
            const text = code.textContent;
            if (text) {
              await navigator.clipboard.writeText(text);

              copyButton.innerText = "Code Copied";

              setTimeout(() => {
                copyButton.innerText = copyButtonLabel;
              }, 700);
            }
          }
        });

        codeBlock.appendChild(copyButton);
        codeBlock.parentNode.insertBefore(wrapper, codeBlock);
        wrapper.appendChild(codeBlock);
      }
    </script>
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-YXRK3RSZN8"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-YXRK3RSZN8");
    </script>
    <script>
      function getDocumentScrollHeight(): number {
        return (
          document.documentElement.scrollHeight -
          document.documentElement.clientHeight
        );
      }
      function getDocumentScrollTop(): number {
        return document.body.scrollTop || document.documentElement.scrollTop;
      }
      function setScrollProgress(progressElement: HTMLElement | null): void {
        const height = getDocumentScrollHeight();
        window.addEventListener("scroll", () => {
          const scrollTop = getDocumentScrollTop();
          if (progressElement) {
            progressElement.style.width = `${(scrollTop / height) * 87}%`;
          }
        });
      }
      function main(): void {
        const scrollProgress: HTMLElement | null =
          document.getElementById("scroll-progress");
        setScrollProgress(scrollProgress);
      }
      main();
    </script>
  </head>
  <header>
    <NavLinks />
  </header>
  <body>
    <div class="scroll-progress" id="scroll-progress"></div>
    <slot />
  </body>

  <style is:global>
    @media (prefers-color-scheme: dark) {
      :root {
        --text-color: #d6d6d6;
        --accent-color: rgb(98, 94, 94);
        --bg-color: #000000;
        --body-color: #222;
        --card-shadow: rgba(255, 255, 255, 0.39);
        --code-color: #000000;
      }
    }
    @media (prefers-color-scheme: light) {
      :root {
        --text-color: black;
        --accent-color: #292c88;
        --bg-color: #f6f6f6;
        --body-color: rgb(165, 215, 246);
        --card-shadow: rgba(45, 59, 170, 0.415);
        --code-color:rgb(0, 19, 141);
      }
    }
    html {
      font-family: system-ui, sans-serif;
      background-color: var(--bg-color);
      color: var(--text-color);
    }
    code {
      background: var(--code-color);
      font-weight: bolder;
      font-size: large;
      box-shadow: 0 0 0 #181717, -5px 0 0 #181717;
    }
    body {
      background: var(--body-color);
      padding: 1rem;
      border-radius: 1rem;
    }
    pre > code {
      font-weight: 100;
      background: none;
      font-style: normal;
      box-shadow: none;
    }
    pre {
      border-radius: 1rem;
      padding: 1rem;
    }
    img {
      width: 100%;
      height: auto;
    }
    .copy-code {
      position: absolute;
      background-color: ;
      padding: 0.25rem;
      font-size: 0.75rem;
      line-height: 1rem;
      /* border-radius: 2rem; */
    }
    .copy-code:hover {
      background-color: var(--card-shadow);
    }
    a {
      color: rgb(89, 115, 247);
      text-decoration: none;
    }
    #scroll-progress {
      position: fixed;
      top: 0;
      width: 0%;
      height: 4px;
      background: rgb(89, 115, 247);
      z-index: 10000;
      border-radius: 1rem;
    }
    @media (min-width: 875px) {
      body {
        max-width: 65rem;
      }
      html {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #scroll-progress {
        max-width: 65rem;
      }
      .copy-code {
        top: 20px;
        right: 10px;
      }
    }
    @media (max-width: 874px) {
      .copy-code {
        opacity: 0.2;
        top: 0;
        right: 0;
      }
      code {
        display: inline-block;
        white-space: pre-wrap; /* This allows the text to wrap */
        word-wrap: break-word;
      }
      pre > code {
        display: unset;
        white-space: unset;
        word-wrap: unset;
      }
    }
  </style>


</html>
