---
import "@assets/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { Head } from "astro-capo";
import Meta from "@components/layout/Meta.astro";
import SkipLinks from "@components/layout/SkipLinks.astro";
import type { CollectionEntry } from "astro:content";
import ThemeManager from "@components/layout/ThemeManager.astro";

type Props = {
	title: string;
	description: string;
	post?: CollectionEntry<"blog"> | undefined;
};
const { title, description, post } = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
	<Head>
		<Meta {title} {description} {post} />
		<ThemeManager />
		<ViewTransitions />
		<script>
			type ThemeChangedEventDetail = {
				theme: "dark" | "light" | "auto";
				systemTheme: "dark" | "light";
				defaultTheme: "dark" | "light" | "auto";
			};

			const setBrowserTheme = (
				theme: ThemeChangedEventDetail["theme"],
				systemTheme: ThemeChangedEventDetail["systemTheme"],
			) => {
				const themeColorMeta = document.querySelector('meta[name="theme-color"]');

				let color;
				if (theme === "auto") {
					color = systemTheme === "dark" ? "#acbef9" : "#2f3a91";
				} else {
					color = theme === "dark" ? "#acbef9" : "#2f3a91";
				}

				themeColorMeta && themeColorMeta.setAttribute("content", color);
			};

			document.addEventListener("theme-changed", (e) => {
				const customEvent = e as CustomEvent<ThemeChangedEventDetail>;
				setBrowserTheme(customEvent.detail.theme, customEvent.detail.systemTheme);
			});
		</script>
	</Head>
	<body>
		<script is:inline>
			(() => {
				const themeColorMeta = document.querySelector('meta[name="theme-color"]');
				const currentTheme = theme.getTheme();
				let color;
				if (currentTheme === "auto") {
					color = theme.getSystemTheme() === "dark" ? "#acbef9" : "#2f3a91";
				} else {
					color = currentTheme === "dark" ? "#acbef9" : "#2f3a91";
				}
				console.log(themeColorMeta);
				themeColorMeta && themeColorMeta.setAttribute("content", color);
			})();
		</script>
		<SkipLinks />
		<main>
			<slot />
		</main>
		<script>
			function loadFathom() {
				let script = document.createElement("script");
				script.src = "https://cdn.usefathom.com/script.js";
				script.setAttribute("data-site", "IGUNNGJS");
				document.body.appendChild(script);
			}
			window.onload = loadFathom;
			document.addEventListener("astro:page-load", function () {
				loadFathom();
			});
		</script>
	</body>
</html>
